<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="info">
            <label for="">Name : </label><input type="text" ng-model="name"> <br><br> 
            <label for="">Age : </label><input type="text" ng-model="age"><br><br>
            <label for="">Gender : </label><input type="text" ng-model="gender"><br><br>
            <label for="">Mark : </label><input type="text" ng-model="mark"><br><br>
            <label for="">Hoc luc : </label><input type="text" value="{{hocluc}}"><br><br>
            <button ng-click="grade()">Grade</button>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    
    <script>
        const app = angular.module('myApp',[])
        app.controller('info',function ($scope) {
            $scope.name = ''
            $scope.age = ''
            $scope.gender = ''
            $scope.mark = ''
            $scope.grade = function () {
                if($scope.mark < 5){
                    $scope.hocluc = 'Rot'
                }else{
                    $scope.hocluc = 'Dau'
                }
            }
        })
    </script>
    <style>
        label{
            display: block;
            font-weight: 900;
            padding: 5px 0;
        }
    </style>
</body>
</html>